<!DOCTYPE html>
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/navBar.ejs") %>
    <form action="/events" method="POST">
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="date">Date of Event:</label>
        <input type="date" id="date" name="date" required>
        <label for="location">Event Location:</label>
        <input type="text" id="location" name="location" required>
        <label for="description">Event Description:</label>
        <input type="text" id="description" name="description" required>
        <button>Schedule</button>
    </form>

    <%- include("../partials/footer.ejs") %>
</body>
</html>