<!DOCTYPE html>
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/cssFiles/events.css">
</head>
<body class="body-gradient">
    <%- include('../partials/navBar.ejs') %>
    
    <div class="event-container" id="event-container">
        <h1 class="event-heading">Upcoming events</h1>
        <div class="slideshow-container" id="slideshow-container"></div>
        <div class="slide-buttons" id="slide-buttons"></div>
    </div>
    
    <h1 class="event-heading past-event-heading">Past Events</h1>
    <div class="past-event-container" id="past-event-container"></div>
    <%- include('../partials/footer.ejs') %>
    <script>
        const serverData = <%- JSON.stringify(events) %>;
    </script>
    <script src="/events.js"></script> 
</body>
</html>

