<footer>
    <div class="social-icons">
        <div class="social-icon">
            <a href="https://www.instagram.com/bths_helping_hand/profilecard/?igsh=MXFpZXQ5NXBhbmtkNw%3D%3D" target="_blank"><img src="/footer_logos/instagramLogo.png" class="social-icon-img"></a>
        </div>
        <div class="social-icon">
            <a href="https://discord.gg/WpdYV8cVMY" target="_blank"><img src="/footer_logos/discordLogo.png" class="social-icon-img"></a>
        </div>
        <div class="social-icon">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=bthshelpinghands@gmail.com" target="_blank"><img src="/footer_logos/gmailLogo.png" class="social-icon-img"></a>
        </div>
    </div>

    <div class="footer-nav">
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="/profile">Profile</a>
        <a href="/about">About Us</a>
    </div>

    <p class="copyright">Copyright &copy; 2024 Helping Hands. All rights reserved.</p>
</footer>
<script src="/updateHeader.js"></script>