<div class="header" id="header">
    <div class="inner-header">
        <div class="logo-container">
            <img src="/logo.png" alt="logo" id="logo-img">
            <div class="logo-text">
                <h1 id="logo-text">Helping Hands</h1>
            </div>
        </div>

        <ul class="navigation" id="navigation">
            <a href="/"><li class="nav-btn">Home</li></a>
            <a href="/events"><li class="nav-btn">Events</li></a>
            <a href="/profile"><li class="nav-btn">Profile</li></a>
            <a href="/about"><li class="nav-btn">About Us</li></a>
        </ul>
    </div>
</div>