* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.body-gradient {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #050505, #1E1E1E);
    background-attachment: fixed;
}

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #151515;
    border-bottom: 4px solid #282A3A;
    color: #EEEEEE;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 550px;
    height: 100%;
}

.logo-container img {
    height: 80px;
    margin-right: 5px;
}

.logo-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-text h1 {
    font-size: 55px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #EEEEEE;
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation a {
    display: flex;
    align-items: center;
    height: 50%;
    max-width: 500px;
    padding: 0px 10px;
    color: inherit;
    text-decoration: none;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background-color: #151515;
    background-image: linear-gradient(#151515, #151515), linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: double transparent 3px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.navigation a li:hover{
    background-image: linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random img {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    background: #282A3A;
}
  
::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 4px;
} 

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: auto;
    background-color: #151515;
    border-top: 4px solid #282A3A;
}

.footer p {
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
}
