* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.body-gradient {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #050505, #1E1E1E);
    background-attachment: fixed;
}

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: #151515;
    border-bottom: 0.25rem solid #282A3A;
    color: #EEEEEE;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 100%;
}

.logo-container img {
    height: 4.5rem;
    margin-right: 0.25rem;
}

.logo-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-text h1 {
    font-size: 2.5rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #EEEEEE;
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation a {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 0 0.5rem;
    color: inherit;
    text-decoration: none;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 100%;
    background-color: #151515;
    background-image: linear-gradient(#151515, #151515), linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
    background-clip: content-box, border-box;
    background-origin: border-box;
    border: double transparent 0.125rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.navigation a li:hover {
    background-image: linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random img {
    width: 100%;
    max-width: 20rem;
    margin: 1rem;
}

::-webkit-scrollbar {
    width: 0.25rem;
}
  
::-webkit-scrollbar-track {
    background: #282A3A;
}
  
::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 0.25rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5.5rem;
    margin-top: auto;
    background-color: #151515;
    border-top: 0.25rem solid #282A3A;
}

.footer p {
    padding: 0.125rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .header {
        height: 4.5rem;
    }

    .logo-container {
        width: 100%;
    }

    .logo-text h1 {
        font-size: 2rem;
    }

    .navigation a li {
        width: auto;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }

    .random img {
        max-width: 75%;
    }

    .footer {
        height: 4.5rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    html {
        font-size: 12px;
    }

    .header {
        height: 5rem;
    }

    .logo-container {
        width: 30rem;
    }

    .logo-text h1 {
        font-size: 2.5rem;
    }

    .navigation a li {
        font-size: 1rem;
    }

    .random img {
        max-width: 85%;
    }

    .footer {
        height: 5rem;
    }
}

@media screen and (min-width: 901px) {
    html {
        font-size: 14px;
    }

    .header {
        height: 5.5rem;
    }

    .logo-container {
        width: 30rem;
    }

    .logo-text h1 {
        font-size: 2.75rem;
    }

    .navigation a li {
        font-size: 1.125rem;
    }

    .random img {
        max-width: 20rem;
    }

    .footer {
        height: 5.5rem;
    }
}
