* {
    margin: 0;
    padding: 0;
}

.body-gradient {
    background: linear-gradient(to bottom left, #050505, #1E1E1E);
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.header {
    height: 95px;
    width: 100%;
    background-color: #151515;
    color: #EEEEEE;
    border-bottom: 4px solid #282A3A;
    position: sticky;
    top: 0;
    z-index: 100;
}

.inner-header {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    width: 550px;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 80px;
    margin-right: 5px;
}

.logo-text {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-text h1 {
    color: #EEEEEE;
    font-size: 55px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation a {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: inherit;
    text-decoration: none;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #151515;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 15px;
    position: relative;
    border-radius: 20px;
}

.navigation a li::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 103%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
    z-index: -1;
}

.navigation a li:hover{
    z-index: 0;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px; 
}

::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    background: #282A3A;
}
  
::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 4px;
} 