.head-layout {
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}
.pages-parent {
    background-color: gainsboro;
    height: 100%;
    width: 25%;
}
.pages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
li {
    list-style-type: none;
}
.home-container, .events-container, .about-container, .history-container {
    background-color: gainsboro;
    color: white;
    border: 0px solid gainsboro;
    font-size: large;
}
li:hover {
    background-color: whitesmoke;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
p {
    margin: 20px 0;
}