<!DOCTYPE html>
<%- include('partials/head.ejs'); %>
    <link rel="stylesheet" href="/cssFiles/about.css">
    <title>About Us</title>
</head>
<body class="body-gradient">
    <%- include('partials/navBar.ejs'); %>

    <div class="team-section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1>Meet the Execs!</h1>
                    <hr>
                    <p>
                        Helping Hands is a nonprofit volunteer club led by a devoted team of high school students dedicated to making a difference. 
                        Our mission is to lend a helping hand to underserved communities, providing support, compassion, and resources where they’re needed most. 
                        Through various volunteer opportunities, we aim to create a positive impact and inspire change within our community. 
                    </p>
                    <hr>
                </div>
            </div>
            <div class="team-card">
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/calvin.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Calvin Aung</h3>
                        <h4>President</h4>
                        <p>
                            Hey there! 
                            My name’s Calvin and 
                            I am part of the bio major and I love drawing, listening to music, watching movies & shows, and Pokémon :)
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/valerie.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Valerie Budiman</h3>
                        <h4>Co-President</h4>
                        <p>
                            I’m Queen Valerie Queen of the Cats and I’m an ID major. I love baking, music, and above all, CATS!! 😻
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/ray.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Ray Gao</h3>
                        <h4>Treasurer</h4>
                        <p>
                            I’m Ray and I am in the Finance Major 
                            (y’all should join fr). 
                            Anyways, some things I enjoy doing are playing basketball, reading webtoons/digital comics, and spending time with family and friends. Not to mention, I am also an avid Pokémon fan. (Add me on Pokémon Go pls)
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/nicole.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Nicole Tan</h3>
                        <h4>Event Manager</h4>
                        <p>
                            My name is Nicole Tan
                            and I’m a Bio major. I like, sewing, traveling, and swimming; but treading is still so hard 🙅.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/jayden.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Jayden Chiou</h3>
                        <h4>Event Manager</h4>
                        <p>
                            My name is Jayden Chiou, rep of the Aero Major! I’m a big fan of anything related to transportation. I also really enjoy playing video games and watching/playing sports!
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/ethan.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Ethan Chan</h3>
                        <h4>Secretary/Media Director</h4>
                        <p>
                            I’m Ethan and I’m in the Mechatronics major!
                            I enjoy hanging out with friends and family, watching anime, and playing video games! I really love sleeping and taking mid-day naps!
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/timothy.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Timothy Kwa</h3>
                        <h4>Secretary/Media Director</h4>
                        <p>
                            I’m Timothy and I'm in the Chemical Engineering major!
                            I enjoy watching movies, collecting cars & cards, and coaching karate athletes.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/siwei.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Siwei Lin</h3>
                        <h4>Club Representative</h4>
                        <p>
                            My name is 
                            SiWei Lin and I currently major in Law and Society! Sometimes I play the piano, but I mainly listen to music instead.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/shakib.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Shakib Amin</h3>
                        <h4>Webmaster</h4>
                        <p>
                            Hey, I’m Shakib and I’m in the software major. My main hobbies include coding, gaming, spending time with friends, and procrastinating. I am just your average NPC who lurks in Tech from Monday-Friday.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/execs/haroon.png" alt="" class="src">
                    </div>
                    <div class="content">
                        <h3>Haroon Awan</h3>
                        <h4>Webmaster</h4>
                        <p>
                            My name is Haroon, I am ALSO unsurprisingly in the software major. I enjoy playing games like COD and Terraria, all things fitness like powerlifting and bodybuilding, and reading webcomics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
