<!DOCTYPE html>
<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/cssFiles/home.css">
</head>
<body class="body-gradient">
    <%- include('partials/navBar.ejs') %>

    <div class="wrapper">
        <div class="hero-section">
            <div class="content">
                <p class="title">Helping Hands</p>
                <p>Join our club for a fun and fulfilling way to earn volunteer hours and club credits, make friends, and support underserved members of our community—all at no cost!</p>
                <a href="https://docs.google.com/forms/d/1L0L-xHajSB2gTol58oq62jthWZ386FHyzlbiC-ZGyho" target="_blank" class="button">Sign Up Now</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs'); %>
</body>
</html>
