.event-heading {
    margin-top: 1%;
    padding-top: 15px;
    font-size: 52px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #EEEEEE;
    text-align: center;
}

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    min-width: 1800px;
    max-width: 2600px;
    height: 700px;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1800px;
    max-width: 2600px;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.event:nth-child(2) {
    transform: translate(100%);
}

.slide-buttons {
    margin-top: 5px;
    text-align: center;
}

.slide-buttons a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    background-color: #282A3A;
    border-radius: 20px;
}

.slide-buttons a:nth-child(1) {
    background-color: #EEEEEE;
}

.slide-buttons a:nth-child(2) {
    background-color: #282A3A;
}

.event img {
    position: absolute;
    z-index: 1;
    width: 34%;
    min-width: 350px;
    max-width: 800px;
    border-radius: 16px;
}

.image-left {
    top: 3;
    left: 0;
    margin-top: 10%;
    margin-left: 5%;
}

.image-right {
    top: 3;
    right: 0;
    margin-top: 10%;
    margin-right: 5%;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 90%;
}

.event-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #111111;
    border-radius: 20px;
}

.event-text-container:first-child {
    margin-top: 0%;
}

.event-text-container::after {
    box-shadow: 40px 0 100px #f5bd5d10, -40px 0 100px #A1A1A110;
    content: "";
    position: absolute;
    z-index: -1;
    width: 101%;
    height: 102%;
    background-image: linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
    border-radius: 20px;
}

.text-container-right {
    margin-right: 40%;
}

.info-left {
    margin-left: 40%;
}

.info-right {
    margin-right: 40%;
}

.event-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 80%;
    margin-right: 4%;
}

.text-right {
    margin-right: 8%;
}

.event-text h1{
    margin-top: 15px;
    padding: 10px;
    font-size: 2em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #EEEEEE;
    text-align: center;
}

.event-text p {
    margin: 8px 0px;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    text-align: left;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10%;
    height: 12%;
    background-color: #111111;
    border-radius: 20px;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    text-align: center;
}

.sign-up-left {
    margin-left: 40%;
}

.sign-up-right {
    margin-right: 40%;
}

.sign-up::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 104%;
    height: 106%;
    background-image: linear-gradient(to bottom left, #F5BD5D, #A1A1A1);
    border-radius: 20px;
}

.sign-up:hover{
    z-index: 0;
}

.past-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.past-event {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    min-width: 1400px;
    max-width: 2400px;
    margin: 8px;
    background-color: #111111;
    border: 4px solid #282A3A;
    border-radius: 15px;
}

.past-event:last-child {
    margin-bottom: 100px;
}

.past-event-title {
    display: flex;
    width: 50%;
    height: 85%;
    margin: 20px 20px 0px 20px;
}

.past-event-title p {
    transition: font-size 0.4s ease;
    font-size: 1.8em;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #EEEEEE;
}

.past-event:hover .past-event-title{
    font-size: 1.4em;
}

.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.arrow {
    transform: rotate(45deg);
    width: 40%;
    height: 40%;
    transition: border-color 0.3s ease;
    border-right: 6px solid #282A3A;
    border-bottom: 6px solid #282A3A;
    border-radius: 4px;
}

.past-event:hover .arrow{
    border-right: 6px solid #EEEEEE;
    border-bottom: 6px solid #EEEEEE;
}

.past-event-text {
    width: 65%;
    height: 0px;
    margin-top: 20px;
    margin-left: 20px;
    transition: width 0.5s ease;
    border-radius: 10px;
}

.past-event:hover .past-event-text{
    height: 250px;
}

.past-event-text p {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
}

.past-event:hover .past-event-text p{
    opacity: 1;
}

.past-event-image-container {
    overflow: hidden;
    width: 24%;
    height: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: height 0.5s ease;
}

.past-event:hover .past-event-image-container{
    height: 250px;
}

.past-event-image {
    object-fit: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease;
    border-radius: 10px;
}

.past-event:hover .past-event-image{
    opacity: 1;
}