.team-section {
    width: 100%;
}

.team-section .container {
    width: 80%;
    margin: auto;
}

.team-section .container .row {
    width: 60%;
    margin: auto;
}

.team-section .container .row .title {
    margin-top: 0.5rem;
    text-align: center;
}

.team-section .container .row .title h1 {
    font-size: 5rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.team-section .container .row .title p {
    margin: 2rem 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #EEEEEE;
}

.team-section .container .team-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    width: 100%;
    margin-top: 3rem;
}

.team-section .container .team-card .card {
    box-shadow: 0 0 40px rgba(245, 189, 93, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 80%;
    height: 80%;
    margin-bottom: 2.5rem;
    padding: 2rem;
    transition: all .5s ease-in-out;
    background-color: #151515;
    cursor: pointer;
    border-radius: 20px;
}

.team-section .container .team-card .card:hover {
    transform: translateY(-15px);
}

.team-section .container .team-card .card .image-section img {
    width: 10rem;
    height: 10rem;
    border: 6px solid #F5BD5D;
    border-radius: 50%;
}

.team-section .container .team-card .card .content {
    width: 100%;
    text-align: center;
}

.team-section .container .team-card .card .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #F5BD5D;
    letter-spacing: 1.5px;
}

.team-section .container .team-card .card .content h4 {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.team-section .container .team-card .card .content p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 1.5;
    color: #ffffff;
}