.team-section {
    width: 100%;
}

.team-section .container {
    width: 80%;
    margin: auto;
}

.team-section .container .row {
    width: 60%;
    margin: auto;
}

.team-section .container .row .title {
    text-align: center;
    margin-top: 50px;
}

.team-section .container .row .title h1 {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #FFFFFF;
}

.team-section .container .row .title p {
    font-size: 1.6em;
    font-family: sans-serif;
    margin: 30px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
}

.team-section .container .team-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    margin-top: 50px;
}

.team-section .container .team-card .card {
    width: 70%;
    opacity: 1;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
    border-radius: 20px;
}

.team-section .container .team-card .card .image-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #ebdb81;
}

.team-section .container .team-card .card .content {
    width: 100%;
    text-align: center;    
}

.team-section .container .team-card .card .content h3 {
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #f0e990;
}

.team-section .container .team-card .card .content h4 {
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #ffffff;
}

.team-section .container .team-card .card .content p {
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .team-section .container .team-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .team-section .container .team-card {
        grid-template-columns:1fr;
    }
}